<link rel="stylesheet" href="/stylesheets/style.css"> <!-- Link to external CSS file -->

<h1 class="mb-3">{{title}}</h1>
<form method="post">
    <fieldset>
        <label for="name" class="col-2">Category Name: </label>
        <input name="name" id="name" class="col-2 mb-3" required/>
    </fieldset>
    <button class="offset-3 col-1 btn btn-custom">Save new</button>
</form>